# --- Tue Regole Specifiche (PER EVITARE CRASH) ---
results/
qkd_venv/
merged_results.csv
params.txt
*.log
*.out
*.dat
*.npy
*.hdf5

# --- Python Standard ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- Ambienti Virtuali ---
.env
.venv
env/
venv/

# --- Editor e Sistema ---
.DS_Store
*.swp
.vscode/
.idea/
.ipynb_checkpoints
